<?php 
namespace $namespace;

use Clicalmani\Foundation\Acme\Controller;
use Clicalmani\Foundation\Http\RequestInterface;
use \Clicalmani\Foundation\Resources\ViewInterface;

class $controller extends Controller
{
    // Happy coding
}