<?php 
namespace $namespace;

use Clicalmani\Foundation\Acme\Controller;
use Clicalmani\Foundation\Http\RequestInterface;

class $controller extends Controller
{
    /**
     * Show the specified resource.
     *
     * @param  \Clicalmani\Foundation\Http\RequestInterface  \$Request
     * @param int \$id
     * @return \Clicalmani\Foundation\Http\Response\JsonResponseInterface
     */
    public function show(RequestInterface \$Request, int \$id) 
    {
        // Logic of your code
    }

    /**
     * Update the specified resource in storage.
     *
     * @param  \Clicalmani\Foundation\Http\RequestInterface  \$Request
     * @param int \$id
     * @return \Clicalmani\Foundation\Http\Response\JsonResponseInterface
     */
    public function update(RequestInterface \$Request, int \$id) 
    {
        // Logic of your code
    }
}