<?php 
namespace $namespace;

use Clicalmani\Foundation\Support\Facades\RequestController as Controller;
use Clicalmani\Foundation\Http\Requests\RequestInterface;

class $controller extends Controller
{
    /**
     * Display a listing of the resource.
     *
     * @return \Clicalmani\Foundation\Http\Response\JsonResponseInterface
     */
    public function index()
    {
        // Implement the resource listing here
    }

    /**
     * Store a newly created resource in storage.
     *
     * @param  \Clicalmani\Foundation\Http\Requests\RequestInterface  \$Request
     * @return \Clicalmani\Foundation\Http\Response\JsonResponseInterface
     */
    public function store(RequestInterface \$Request)
    {
        // Implement the resource storage here
    }

    /**
     * Show the specified resource.
     *
     * @param  \Clicalmani\Foundation\Http\Requests\RequestInterface  \$Request
     * @return \Clicalmani\Foundation\Http\Response\JsonResponseInterface
     */
    public function show(RequestInterface \$Request)
    {
        // Implement the resource view here
    }

    /**
     * Update the specified resource in storage.
     *
     * @param  \Clicalmani\Foundation\Http\Requests\RequestInterface  \$Request
     * @return \Clicalmani\Foundation\Http\Response\JsonResponseInterface
     */
    public function update(RequestInterface \$Request)
    {
        // Implement the resource update here
    }

    /**
     * Remove the specified resource from storage.
     *
     * @param  \Clicalmani\Foundation\Http\Requests\RequestInterface  \$Request
     * @return \Clicalmani\Foundation\Http\Response\JsonResponseInterface
     */
    public function destroy(RequestInterface \$Request)
    {
        // Implement the resource destroy here
    }
}