<?php 
namespace $namespace;

use Clicalmani\Fundation\Http\Requests\RequestController as Controller;
use Clicalmani\Fundation\Http\Response\Response;
use Clicalmani\Fundation\Test\HasTest;

class $controller extends Controller
{
    use HasTest;

    // Your code
}
