<?php 
namespace $namespace;

use Clicalmani\Flesco\Http\Requests\RequestController as Controller;
use Clicalmani\Flesco\Http\Response\Response;

class $controller extends Controller
{
    // Your code
}
