<?php 
namespace $namespace;

use Clicalmani\Flesco\Http\Requests\RequestController as Controller;
use Clicalmani\Flesco\Http\Response\Response;
use Clicalmani\Flesco\Test\HasTest;

class $controller extends Controller
{
    use HasTest;

    // Your code
}
