<?php 
namespace $namespace;

use Clicalmani\Foundation\Http\Requests\RequestController as Controller;
use Clicalmani\Foundation\Http\Requests\Request;
use Clicalmani\Foundation\Http\Response\Response;
use $model_class;
use Clicalmani\Foundation\Test\HasTest;

class $controller extends Controller
{
    use HasTest;
    
    /**
     * Display a listing of the resource.
     *
     * @param \\$model_class $$parameter
     * @return \Clicalmani\Foundation\Http\Response\JsonResponse
     */
    public function index($resource $$parameter)
    {
        // Your code
    }

    /**
     * Store a newly created resource in storage.
     *
     * @param \\$model_class $$parameter
     * @param  \Clicalmani\Foundation\Http\Requests\Request  \$request
     * @return \Clicalmani\Foundation\Http\Response\JsonResponse
     */
    public function store($resource $$parameter)
    {
        // Your code
    }

    /**
     * Create the specified resource.
     *
     * @param \\$model_class $$parameter
     * @param int \$id
     * @return \Clicalmani\Foundation\Http\Response\JsonResponse
     */
    public function create($resource $$parameter, int \$id)
    {
        // Your code
    }

    /**
     * Update the specified resource in storage.
     *
     * @param \\$model_class $$parameter
     * @param  int \$id
     * @return \Clicalmani\Foundation\Http\Response\JsonResponse
     */
    public function update($resource $$parameter, int \$id)
    {
        // Your code
    }

    /**
     * Remove the specified resource from storage.
     *
     * @param \\$model_class $$parameter
     * @param int \$id 
     * @return \Clicalmani\Foundation\Http\Response\JsonResponse
     */
    public function destroy($resource $$parameter, int \$id)
    {
        // Your code
    }
}
