<?php 
namespace $namespace;

use Clicalmani\Foundation\Http\Requests\RequestController as Controller;
use Clicalmani\Foundation\Http\Requests\RequestInterface;
use $model_class;

class $controller extends Controller
{
    /**
     * Display a listing of the resource.
     *
     * @return \Clicalmani\Foundation\Http\Response\JsonResponseInterface
     */
    public function index() 
    {
        // Implement the resource listing here
    }

    /**
     * Store a newly created resource in storage.
     *
     * @param \\$model_class $$parameter
     * @return \Clicalmani\Foundation\Http\Response\JsonResponseInterface
     */
    public function store($resource $$parameter) 
    {
        // Implement the resource storage here
    }

    /**
     * Show the specified resource.
     *
     * @param \\$model_class $$parameter
     * @param int \$id
     * @return \Clicalmani\Foundation\Http\Response\JsonResponseInterface
     */
    public function show($resource $$parameter, int \$id) 
    {
        // Implement the resource view here
    }

    /**
     * Update the specified resource in storage.
     *
     * @param \\$model_class $$parameter
     * @param int \$id
     * @return \Clicalmani\Foundation\Http\Response\JsonResponseInterface
     */
    public function update($resource $$parameter, int \$id) 
    {
        // Implement the resource update here
    }

    /**
     * Remove the specified resource from storage.
     *
     * @param \\$model_class $$parameter
     * @param int \$id 
     * @return \Clicalmani\Foundation\Http\Response\JsonResponseInterface
     */
    public function destroy($resource $$parameter, int \$id) 
    {
        // Implement the resource destroy here
    }
}