<?php 
namespace $namespace;

use Clicalmani\Foundation\Acme\Controller;
use Clicalmani\Foundation\Http\RequestInterface;
use \Clicalmani\Foundation\Resources\ViewInterface;

class $controller extends Controller
{
    /**
     * Handle the incoming RequestInterface;.
     *
     * @param  \Clicalmani\Foundation\Http\RequestInterface  \$Request
     * @param  int  \$id
     * @return \Clicalmani\Foundation\Resources\ViewInterface
     */
    public function __invoke(RequestInterface \$Request, int \$id) : ViewInterface
    {
        // Logic of your code

        return view('');
    }
}