<?php 
namespace $namespace;

use Clicalmani\Foundation\Http\Requests\RequestController as Controller;
use Clicalmani\Foundation\Http\Requests\Request;
use \Clicalmani\Foundation\Resources\View;

class $controller extends Controller
{
    /**
     * Display a listing of the resource.
     *
     * @return \\Clicalmani\Foundation\Resources\View
     */
    public function index() : View
    {
        // Implement the resource listing code

        return new View('');
    }

    /**
     * Create the specified resource.
     *
     * @param  \Clicalmani\Foundation\Http\Requests\Request  \$request
     * @return \\Clicalmani\Foundation\Resources\View
     */
    public function create(Request \$request) : View
    {
        // Implement the resource creation code

        return new View('');
    }

    /**
     * Store a newly created resource in storage.
     *
     * @param  \Clicalmani\Foundation\Http\Requests\Request  \$request
     * @return \\Clicalmani\Foundation\Resources\View
     */
    public function store(Request \$request)
    {
        // Implement the resource storing code
    }

    /**
     * Show the specified resource.
     *
     * @param  \Clicalmani\Foundation\Http\Requests\Request  \$request
     * @param int \$id
     * @return \\Clicalmani\Foundation\Resources\View
     */
    public function show(Request \$request, int \$id) : View
    {
        // Implement the resource view code

        return new View('');
    }

    /**
     * Edit the specified resource.
     *
     * @param  \Clicalmani\Foundation\Http\Requests\Request  \$request
     * @param int \$id
     * @return \\Clicalmani\Foundation\Resources\View
     */
    public function edit(Request \$request, int \$id) : View
    {
        // Implement the resource edit code

        return new View('');
    }

    /**
     * Update the specified resource in storage.
     *
     * @param  \Clicalmani\Foundation\Http\Requests\Request  \$request
     * @param  int \$id
     * @return \\Clicalmani\Foundation\Resources\View
     */
    public function update(Request \$request, int \$id)
    {
        // Implement the resource update here
    }

    /**
     * Remove the specified resource from storage.
     *
     * @param  \Clicalmani\Foundation\Http\Requests\Request  \$request
     * @param int \$id 
     * @return \\Clicalmani\Foundation\Resources\View
     */
    public function destroy(Request \$request, int \$id)
    {
        // Implement the resource destroy here
    }
}