<?php 
namespace $namespace;

use Clicalmani\Foundation\Http\Requests\RequestController as Controller;
use Clicalmani\Foundation\Http\Requests\Request;
use Clicalmani\Foundation\Http\Response\Response;
use Clicalmani\Foundation\Test\HasTest;

class $controller extends Controller
{
    use HasTest;
    
    /**
     * Display a listing of the resource.
     *
     * @return \Clicalmani\Foundation\Http\Response\JsonResponse
     */
    public function index()
    {
        // Your code
    }

    /**
     * Store a newly created resource in storage.
     *
     * @param  \Clicalmani\Foundation\Http\Requests\Request  \$request
     * @return \Clicalmani\Foundation\Http\Response\JsonResponse
     */
    public function store(Request \$request)
    {
        // Your code
    }

    /**
     * Create the specified resource.
     *
     * @param  \Clicalmani\Foundation\Http\Requests\Request  \$request
     * @return \Clicalmani\Foundation\Http\Response\JsonResponse
     */
    public function create(Request \$request)
    {
        // Your code
    }

    /**
     * Update the specified resource in storage.
     *
     * @param  \Clicalmani\Foundation\Http\Requests\Request  \$request
     * @return \Clicalmani\Foundation\Http\Response\JsonResponse
     */
    public function update(Request \$request)
    {
        // Your code
    }

    /**
     * Remove the specified resource from storage.
     *
     * @param  \Clicalmani\Foundation\Http\Requests\Request  \$request
     * @return \Clicalmani\Foundation\Http\Response\JsonResponse
     */
    public function destroy(Request \$request)
    {
        // Your code
    }
}
