<?php 
namespace $namespace;

use Clicalmani\Foundation\Acme\Controller;
use Clicalmani\Foundation\Http\RequestInterface;
use \Clicalmani\Foundation\Resources\ViewInterface;
use \Clicalmani\Foundation\Http\RedirectInterface;

class $controller extends Controller
{
    /**
     * Display a listing of the resource.
     *
     * @return \Clicalmani\Foundation\Resources\ViewInterface
     */
    public function index() : ViewInterface
    {
        // Implement the resource listing code

        return view('');
    }

    /**
     * Create the specified resource.
     *
     * @param  \Clicalmani\Foundation\Http\RequestInterface  \$Request
     * @return \Clicalmani\Foundation\Resources\ViewInterface
     */
    public function create(RequestInterface \$Request) : ViewInterface
    {
        // Implement the resource creation code

        return view('');
    }

    /**
     * Store a newly created resource in storage.
     *
     * @param  \Clicalmani\Foundation\Http\RequestInterface  \$Request
     * @return \Clicalmani\Foundation\Resources\ViewInterface
     */
    public function store(RequestInterface \$Request)
    {
        // Implement the resource storing code
    }

    /**
     * Show the specified resource.
     *
     * @param  \Clicalmani\Foundation\Http\RequestInterface  \$Request
     * @param int \$id
     * @return \Clicalmani\Foundation\Resources\ViewInterface
     */
    public function show(RequestInterface \$Request, int \$id) : ViewInterface
    {
        // Implement the resource view code

        return view('');
    }

    /**
     * Edit the specified resource.
     *
     * @param  \Clicalmani\Foundation\Http\RequestInterface  \$Request
     * @param int \$id
     * @return \Clicalmani\Foundation\Resources\ViewInterface
     */
    public function edit(RequestInterface \$Request, int \$id) : ViewInterface
    {
        // Implement the resource edit code

        return view('');
    }

    /**
     * Update the specified resource in storage.
     *
     * @param  \Clicalmani\Foundation\Http\RequestInterface  \$Request
     * @param  int \$id
     * @return \Clicalmani\Foundation\Http\RedirectInterface
     */
    public function update(RequestInterface \$Request, int \$id) : RedirectInterface
    {
        return redirect('/');
    }

    /**
     * Remove the specified resource from storage.
     *
     * @param  \Clicalmani\Foundation\Http\RequestInterface  \$Request
     * @param int \$id 
     * @return \Clicalmani\Foundation\Http\RedirectInterface
     */
    public function destroy(RequestInterface \$Request, int \$id) : RedirectInterface
    {
        return redirect('/');
    }
}