<?php 
namespace $namespace;

use Clicalmani\Fondation\Http\Requests\RequestController as Controller;
use Clicalmani\Fondation\Http\Response\Response;
use Clicalmani\Fondation\Test\HasTest;

class $controller extends Controller
{
    use HasTest;

    // Your code
}
