<?php 
namespace $namespace;

use Clicalmani\Foundation\Http\Requests\RequestController as Controller;
use Clicalmani\Foundation\Http\Requests\Request;
use Clicalmani\Foundation\Http\Response\Response;
use \Clicalmani\Foundation\Resources\View;

class $controller extends Controller
{
    // Happy coding
}