<?php 
namespace $namespace;

use Clicalmani\Foundation\Acme\Controller;
use Clicalmani\Foundation\Http\RequestInterface;
use \Clicalmani\Foundation\Resources\ViewInterface;

class $controller extends Controller
{
    /**
     * Show the specified resource.
     *
     * @param  \Clicalmani\Foundation\Http\RequestInterface  \$request
     * @param int \$id
     * @return \Clicalmani\Foundation\Resources\ViewInterface
     */
    public function show(RequestInterface \$request, int \$id) : ViewInterface
    {
        // Logic of your code

        return view('');
    }

    /**
     * Edit the specified resource.
     *
     * @param  \Clicalmani\Foundation\Http\RequestInterface  \$request
     * @param int \$id
     * @return \Clicalmani\Foundation\Resources\ViewInterface
     */
    public function edit(RequestInterface \$request, int \$id) : ViewInterface
    {
        // Logic of your code

        return view('');
    }

    /**
     * Update the specified resource in storage.
     *
     * @param  \Clicalmani\Foundation\Http\RequestInterface  \$request
     * @param  int \$id
     * @return \Clicalmani\Foundation\Resources\ViewInterface
     */
    public function update(RequestInterface \$request, int \$id) : ViewInterface
    {
        // Logic of your code
    }
}