<?php 
namespace $namespace;

use Clicalmani\Foundation\Support\Facades\RequestController as Controller;
use Clicalmani\Foundation\Http\Requests\RequestInterface;
use Clicalmani\Foundation\Http\ResponseInterface;

class $controller extends Controller
{
    /**
     * Handle the incoming RequestInterface;.
     *
     * @param  \Clicalmani\Foundation\Http\Requests\RequestInterface  \$Request
     * @param  int  \$id
     * @return \Clicalmani\Foundation\Http\ResponseInterface
     */
    public function __invoke(RequestInterface \$Request, int \$id) : ResponseInterface
    {
        return response()->json([]);
    }
}