<?php 
namespace $namespace;

use Clicalmani\Foundation\Http\RequestController as Controller;
use Clicalmani\Foundation\Http\Request;
use Clicalmani\Foundation\Http\Response\Response;

class $controller extends Controller
{
    /**
     * Display a listing of the resource.
     *
     * @return \Clicalmani\Foundation\Http\Response\JsonResponse
     */
    public function index()
    {
        // Implement the resource listing here
    }

    /**
     * Store a newly created resource in storage.
     *
     * @param  \Clicalmani\Foundation\Http\Request  \$request
     * @return \Clicalmani\Foundation\Http\Response\JsonResponse
     */
    public function store(Request \$request)
    {
        // Implement the resource storage here
    }

    /**
     * Show the specified resource.
     *
     * @param  \Clicalmani\Foundation\Http\Request  \$request
     * @return \Clicalmani\Foundation\Http\Response\JsonResponse
     */
    public function show(Request \$request)
    {
        // Implement the resource view here
    }

    /**
     * Update the specified resource in storage.
     *
     * @param  \Clicalmani\Foundation\Http\Request  \$request
     * @return \Clicalmani\Foundation\Http\Response\JsonResponse
     */
    public function update(Request \$request)
    {
        // Implement the resource update here
    }

    /**
     * Remove the specified resource from storage.
     *
     * @param  \Clicalmani\Foundation\Http\Request  \$request
     * @return \Clicalmani\Foundation\Http\Response\JsonResponse
     */
    public function destroy(Request \$request)
    {
        // Implement the resource destroy here
    }
}