<?php
namespace App\Events;

use Clicalmani\Database\Factory\Models\Events\Event;

class $custom_event
{
    /**
     * Event handler
     * 
     * @param \Clicalmani\Database\Factory\Models\Events\Event \$event
     * @param mixed \$data Event data
     * @return void
     */
    public function handler(Event \$event, mixed \$data) : void
    {
        /**
         * TODO
         */
    }
}
