<?php
namespace App\Http\Middlewares;

use Clicalmani\Flesco\Http\Middlewares\Middleware;
use Clicalmani\Flesco\Http\Requests\Request;
use Clicalmani\Flesco\Http\Response\Response;

class $middleware extends Middleware 
{
    /**
     * Handler
     * 
     * @param Request \$request Current request object
     * @param Response \$response Http response
     * @param callable \$next 
     * @return int|false
     */
    public function handle(Request \$request, Response \$response, callable \$next) : int|false
    {
        // ...

        return \$next();
    }

    /**
     * Bootstrap
     * 
     * @return void
     */
    public function boot() : void
    {
        // ...
    }
}
