<?php
use Clicalmani\Database\Factory\Factory;
use Clicalmani\Database\Factory\Maker;
use Clicalmani\Database\Factory\Schema;

return new class extends Factory 
{
    /**
     * |------------------------------------------------------------------
     * |                  ***** In Method *****
     * |------------------------------------------------------------------
     * 
     * Run the migration
     * 
     * @return void
     */
    public function in()
    {
        Schema::create("$table", function(Maker \$table) {
            // Table definition
        });
    }

    /**
     * |------------------------------------------------------------------
     * |                  ***** Out Method *****
     * |------------------------------------------------------------------
     * 
     * Reverse the migration
     * 
     * @return void
     */
    public function out()
    {
        Schema::dropIfExists("$table");
    }
};
