<?php 
namespace $namespace;

use Clicalmani\Foundation\Http\Request;

class $request extends Request
{
    /**
     * Authorize the incoming request
     * 
     * @return bool true if yes, false otherwise
     */
    function authorize() : bool {
        return true;
    }

    /**
     * Prepare request for validation
     *
     * @return void
     */
    function prepareForValidation() : void
    {
        // Do Something
    }

    /**
     * Define request validation rules
     *
     * @return void
     */
    function signatures() : void
    {
        \$this->merge([
            // Signatures
        ]);
    }
}
