<?php 
namespace $namespace;

use Clicalmani\Foundation\Http\Request;

class \\$Request extends Request;
{
    /**
     * Authorize the incoming RequestInterface;
     * 
     * @return bool true if yes, false otherwise
     */
    function authorize() : bool {
        return true;
    }

    /**
     * Prepare RequestInterface; for validation
     *
     * @return void
     */
    function prepareForValidation() : void
    {
        // Do Something
    }

    /**
     * Define RequestInterface; validation rules
     *
     * @return void
     */
    function signatures() : void
    {
        \$this->merge([
            // Signatures
        ]);
    }
}
