<?php 
namespace $namespace;

use Clicalmani\Foundation\Http\Request;

class $request extends Request
{
    /**
     * Define Request validation rules
     *
     * @return void
     */
    public function signatures() : void
    {
        \$this->merge([
            // Signatures
        ]);
    }
}
