<?php 
namespace $namespace;

use Clicalmani\Foundation\Http\Request;

class \\$Request extends Request;
{
    /**
     * Authorize the incoming Request.
     * 
     * @return bool true if yes, false otherwise
     */
    public function authorize() : bool 
    {
        return true;
    }

    /**
     * Define Request validation rules. 
     *
     * @return void
     */
    public function signatures() : void
    {
        \$this->merge([
            'name' => 'required|string|max:255',
            'email' => 'required|email|unique:users',
            'password' => 'password|min:8|max:255|confirm:1|nullable',
            'password_confirm' => 'string|min:8|max:255'
        ]);
    }
}