<?php 
namespace Database\Seeders;

use Clicalmani\Database\Seeders\Seeder;
use Clicalmani\Database\Traits\DisableSQLEventsTrigger;
use App\Models\\$model;

class $seeder extends Seeder 
{
    use DisableSQLEventsTrigger;
    
    /**
     * Run the seeder 
     *
     * @return void
     */
    public function run() : void
    {
        $model::seed()
            ->count(1)
            ->make();
    }
}
