<?php 
namespace Database\Seeders;

use Clicalmani\Database\Seeders\Seeder;
use Clicalmani\Database\Seeders\DisableEventsTrigger;
use App\Models\\$model;

class $seeder extends Seeder 
{
    use DisableEventsTrigger;
    
    /**
     * Run the seeder 
     *
     * @return void
     */
    public function run() : void
    {
        $model::seed()
            ->count(1)
            ->make();
    }
}
