<?php 
namespace Database\Seeders;

use Clicalmani\Database\Seeders\Seeder;
use Clicalmani\Database\Traits\PreventEventsCapturing;

class $seeder extends Seeder 
{
    use PreventEventsCapturing;

    /**
     * Run the seeder 
     *
     * @return void
     */
    public function run() : void
    {
        // Your code goes here 
    }
}
