<?php
namespace Clicalmani\Fundation\Validation\Validators;

use Clicalmani\Fundation\Validation\InputValidator as Validator;

class $validator extends Validator
{
    /**
     * Validator argument
     * 
     * @var string
     */
    protected string \$argument = "$argument";

    /**
     * Validator options
     * 
     * @return array
     */
    public function options() : array
    {
        return [
            // ...
        ];
    }

    /**
     * Validate input
     * 
     * @param mixed &\$value Receive input value
     * @param ?array \$options Receive validator options
     * @return bool
     */
    public function validate(mixed &\$date, ?array \$options = [] ) : bool
    {
        /**
         * Do validation 
         * ....
         */

        return true;
    }
}
