<?php
namespace App\Http\Validators;

class $validator extends \\$extends
{
    /**
     * Rule argument
     * 
     * @var string
     */
    protected string \$argument = "$argument";

    /**
     * Rule options
     * 
     * @return array
     */
    public function options() : array
    {
        return [
            // ...
        ];
    }

    /**
     * Validate input
     * 
     * @param mixed &\$value Input value
     * @return bool
     */
    public function validate(mixed &\$value) : bool
    {
        /**
         * Do validation 
         * ....
         */

        return true;
    }

    /**
     * Gets the custom error message.
     * 
     * @return string
     */
    public function message() : ?string
    {
        return '';
    }
}
