<?php
namespace App\Http\Validators;

use Clicalmani\Foundation\Validation\Validator;

class $validator extends Validator
{
    /**
     * Validator argument
     * 
     * @var string
     */
    protected string \$argument = "$argument";

    /**
     * Validator options
     * 
     * @return array
     */
    public function options() : array
    {
        return [
            // ...
        ];
    }

    /**
     * Validate input
     * 
     * @param mixed &\$value Input value
     * @param ?array \$options Validator options
     * @return bool
     */
    public function validate(mixed &\$value, ?array \$options = [] ) : bool
    {
        /**
         * Do validation 
         * ....
         */

        return true;
    }
}
