<?php 
namespace Database\Factories;

use Clicalmani\Database\Factory\Factory;

class $factory extends Factory 
{
    /**
     * Factory definition 
     *
     * @return array
     */
    public function definition() : array
    {
        return [
            # Definition
        ];
    }
}
