<?php 
namespace Database\Seeders;

use Clicalmani\Flesco\Database\Seeders\Seeder;
use Clicalmani\Flesco\Database\Seeders\DisableEventsTrigger;

class $seeder extends Seeder 
{
    use DisableEventsTrigger;

    /**
     * Run the seeder 
     *
     * @return void
     */
    public function run() : void
    {
        // Your code goes here 
    }
}
