<?php 
namespace Test\Controllers;

use Clicalmani\Fundation\Test\Controllers\TestController;
use App\Http\Controllers\\$class;

class $test extends TestController 
{ 
    /**
     * Controller class
     *
     * @var string Class name 
     */
    protected \$controller = $controller::class;
    $methods
}
